{% load navigation_tags %}
{% load display_tags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if breadcrumbs %}
        {% for b in breadcrumbs %}
            {% if b.active %}
                <title>{{ b.title }}</title>
            {% endif %}
        {% endfor %}
    {% else %}
        <title>DefectDojo</title>
    {% endif %}

    {% block add_css_before %}
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static "startbootstrap-sb-admin-2/dist/css/timeline.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block add_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "jquery-ui/themes/flick/jquery-ui.min.css" %}">
    <link rel="shortcut icon" href="{% static "dojo/img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "fullcalendar/dist/fullcalendar.min.css" %}">
    <link rel="stylesheet" href="{% static "dojo/css/dojo.css" %}">
    <style>
        {% block add_styles %}
        {% endblock %}
    </style>
</head>
<body>

<div id="wrapper">
    {% block navigation %}
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "dojo/img/logo.png" %}"
                                                                     alt="DefectDojo Logo"
                                                                     width="240"/></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            {% alert_nav_items user=request.user %}
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        {% block settings-dropdown-items %}
                            {% if request.user.is_authenticated %}
                                <li><a href="{% url 'view_profile' %}"><i
                                        class="fa fa-user fa-fw"></i> {{ request.user.username }}</a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'tastypie_swagger:index' %}"><i class="fa fa-book fa-fw"></i> API
                                Docs</a></li>
                        {% endblock %}
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        {% endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% block sidebar-items %}
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <form role="search" method="get" action="{% url 'simple_search' %}">
                                        <div class="input-group">
                                            <input id="simple_search" type="text" name="query" class="form-control"
                                                   placeholder="Search...">
	                                    <span class="input-group-btn">
	                                        <button class="btn btn-default" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
	                                    </span>
                                        </div>
                                    </form>
                                </div>
                                <!-- /input-group -->
                            </li>
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                </li>
                            {% endif %}
                            <li>
                                {% if request.user.is_staff %}
                                    <a href="#"><i class="fa fa-list fa-fw"></i> Products
                                        <span class="glyphicon arrow"></span></a>
                                {% else %}
                                    <a href="{% url 'product' %}"><i class="fa fa-list fa-fw"></i> Products</a>
                                {% endif %}
                                {% if request.user.is_staff %}
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'product' %}"> All Products</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'product_type' %}">View Product Types</a>
                                        </li>

                                    </ul>
                                {% endif %}
                                <!-- /.nav-second-level -->
                            </li>
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="#"><i class="fa fa-inbox fa-fw"></i> Engagements<span
                                            class="glyphicon arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'engagement' %}">All Engagements</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'test_type' %}">Test Types</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'dev_env' %}">Development Environments</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Endpoints<span
                                            class="glyphicon arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'endpoints' %}">All Endpoints</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'vulnerable_endpoints' %}">
                                                Vulnerable Endpoints
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-bug fa-fw"></i>
                                        Findings<span
                                                class="glyphicon arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{% url 'open_findings' %}">Open Findings</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'accepted_findings' %}">Accepted Findings</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'closed_findings' %}">Closed Findings</a>
                                        </li>
                                        {% block finding_menu_extensions %}
                                        {% endblock %}
                                    </ul>
                                    <!-- /.nav-second-level -->
                                </li>
                            {% endif %}
                            <li>
                                <a href="/metrics"><i class="fa fa-bar-chart fa-fw"></i> Metrics<span
                                        class="glyphicon arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="{% url 'metrics_product_type' %}"> Product Type Metrics </a></li>
                                    <li><a href="{% url 'product_type_counts' %}"> Product Type Counts </a></li>
                                    {% if user.is_staff %}
                                        <li><a href="{% url 'simple_metrics' %}"> Simple Metrics </a></li>
                                        <li><a href="{% url 'engineer_metrics' %}"> Engineer Metrics </a></li>
                                        <li><a href="{% url 'research_metrics' %}"> Security Research Metrics </a></li>
                                    {% endif %}
                                    <li><a href="{% url 'metrics' %}?date=5&view=dashboard"> Metrics Dashboard </a></li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'users' %}"><i class="fa fa-user fa-fw"></i> Users</a>
                                </li>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <li>
                                    <a href="{% url 'calendar' %}"><i class="fa fa-calendar fa-fw"></i> Calendar</a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
    {% endblock %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% if breadcrumbs %}
                        <ul class="breadcrumb main">
                            {% for b in breadcrumbs %}
                                {% if b.active or not b.link %}
                                    <li class="active">{{ b.title }}</li>
                                {% else %}
                                    <li>
                                        <a href="{{ b.link }}">{{ b.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div id="base-content" class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-">
                    <p>
                        <a href="{% url 'home' %}"><img class="logo" src="{% static "dojo/img/chop.png" %}"
                                                        alt="DefectDojo Chop" height="45"/></a><br/>
                        {% dojo_version %}
                    </p>

                    <p>
                        DefectDojo is licensed under the <a
                            href="https://github.com/rackerlabs/django-DefectDojo/blob/master/LICENSE.md">Simplified BSD
                        license</a>.
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static "jquery/dist/jquery.js" %}"></script>
<!--  jQuery UI -->
<script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "metisMenu/dist/metisMenu.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" %}"></script>
<!-- Calendar JavaScript -->
<script src="{% static "moment/min/moment.min.js" %}"></script>
<script src="{% static "fullcalendar/dist/fullcalendar.min.js" %}"></script>
<!-- our JS -->
<script src="{% static "dojo/js/index.js" %}"></script>
{% block postscript %}
{% endblock %}
</body>

</html>
