{% overextends "dojo/view_finding.html" %}

{% block button_extensions %}
{{block.super}}
{% if finding.poc_set %}
<li role="presentation">
    <a href="{% url 'run_poc' finding.id%}">
        <i class="fa fa-exclamation-triangle"></i> Run POC
    </a>
</li>
<li role="presentation">
    <a href="{% url 'add_poc' finding.id%}">
        <i class="fa fa-exclamation-triangle"></i> Update POC
    </a>
</li>
{% else %}
<li role="presentation">
    <a href="{% url 'add_poc' finding.id%}">
        <i class="fa fa-exclamation-triangle"></i> Add / Edit POC
    </a>
</li>
{% endif %}
{% endblock %}

