{% extends "base.html" %}                                                                                                                         
{% load display_tags %}
{% load static from staticfiles %}
{% block content %}
<div>
<a class="btn btn-sm btn-primary" href="{% url 'add_poc_endpoint' %}"> Setup POC Endpoint </a>
                <div class="panel panel-default table-responsive">
                    <table id="poc"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th> IP Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for poc_endpoint in poc_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'view_poc_endpoint' poc_endpoint.id %}"><b>{{ poc_endpoint.name }}</b></a>
                                </td>
                                <td>
                                    {{ poc_endpoint.ip}} 
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>

{% endblock %}
