{% extends "base.html" %}
{% load navigation_tags %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            {% if findings %}
                <div class="clearfix">
                    <h3 class="pull-left">Closed Findings</h3>{% include "dojo/paging_snippet.html" with page=findings page_size=True%}
                </div>
                <div class="table-responsive panel panel-default">
                    <table id="open_findings"
                           class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="nowrap">{% dojo_sort request 'Name' 'title' %}</th>
                            <th class="nowrap">{% dojo_sort request 'Date' 'date' %}</th>
                            <th class="nowrap">{% dojo_sort request 'Mitigated On' 'mitigated' %}</th>
                            <th class="nowrap">Age</th>
                            <th class="nowrap">{% dojo_sort request 'Severity' 'numerical_severity' 'asc' %}</th>
                            <th class="nowrap">{% dojo_sort request 'Product' 'test__engagement__product__name'%}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for finding in findings %}
                            <tr>
                                <td><a title="{{ finding.title }}"
                                                      href="{% url 'view_finding' finding.id %}">{{ finding.title|truncatechars:50 }}</a>
                                </td>
                                <td class="nowrap">{{ finding.date }}</td>
                                <td class="">{{ finding.mitigated.date }}</td>
                                <td>{{ finding.age }}</td>
                                <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                                    <p class="text-error">
                                {% else %}<p>{% endif %}{{ finding.severity }}</p></td>
                                <td><a
                                        href="{% url 'view_product' finding.test.engagement.product.id %}"
                                        title="{{ finding.test.engagement.product }}">{{ finding.test.engagement.product|truncatechars:15 }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "dojo/paging_snippet.html" with page=findings page_size=True%}
            {% else %}
                No findings found.
            {% endif %}
        </div>
        <div class="col-md-2">
            <div class="panel panel-default filters">
                {% if filtered.form %}
                    <div class="panel-heading">Filters</div>
                    <form method="get" class="panel-body">
                        {{ filtered.form.as_p }}
                        <div class="centered">
                            <button class="btn btn-sm btn-primary">
                                <i class="fa fa-filter"></i> Apply
                            </button><br/><br/>
                            <a href="{% url 'closed_findings' %}"> [Clear Filters] </a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
{% block postscript %}
    <script>
        $(function () {
            var availableTags = [
                {% for word in title_words %}
                    "{{word}}",
                {% endfor %}
            ];
            $("#id_title").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}
