{% extends "base.html" %}
{% block content %}
    <div class="well">
        <p>Upload your third party tool scan results and all the findings
            will be imported automatically.</p>

        <p>DefectDojo accepts:</p>
    <ul>
        <li><b>Burp XML</b> - When the Burp report is generated, we recommend selecting the option to Base64 encode both the request and
            response fields. These fields will be processed and made available in the Finding view page.</li>
        <li><b>Tenable Nessus</b> - Reports can be imported in the CSV, and .nessus (XML) report formats.</li>
        <li><b>Rapid7 Nexpose XML 2.0</b> - Use the full XML export template from Nexpose.</li>
        <li><b>Veracode Detailed XML Report</b></li>
        <li><b>Zed Attack Proxy</b> - ZAP XML report format.</li>
    </ul>

        {% if additional_message %}
            <p class="text-info">
                <b>Note:</b> {{ additional_message }}
            </p>
        {% endif %}
    </div>
    <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Upload File"/>
            </div>
        </div>
    </form>
{% endblock %}
