{% extends "base.html" %}
{% block add_styles %}
    form.biweekly-metrics p { display: inline-block;}
    form.biweekly-metrics input {border: 1px solid #ccc;border-radius: 4px;padding: 3px 6px;}
    form.biweekly-metrics select {border-radius: 4px;background-color: #fff;background-image: none;border: 1px solid
    #ccc;height: 27px;}
    .errorlist {color: #a94442; display: inline-block;}
{% endblock %}
{% block content %}

    <form class="biweekly-metrics" action="{% url 'product_type_counts' %}" method="get">
        {{ form.as_p }}
        <input class="btn btn-sm btn-primary" type="submit" value="Generate Metrics For Selected Period"/>
    </form>
    <br/>
    {% if pt %}
        <h2>Finding Information For Period of {{ start_date.date }} - {{ end_date.date }}</h2>
        <h3 class="inline-block">{{ pt.name }}</h3> [
        <a href="{% url 'product_type_metrics' pt.id %}" class="inline-block">View Details</a>]
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <h4>Total Current Security Bug Count</h4>
            </div>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        S0
                    </th>
                    <th>
                        S1
                    </th>
                    <th>
                        S2
                    </th>
                    <th>
                        S3
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ overall_in_pt.S0|default_if_none:0 }}
                    </td>
                    <td>
                        {{ overall_in_pt.S1|default_if_none:0 }}
                    </td>
                    <td>
                        {{ overall_in_pt.S2|default_if_none:0 }}
                    </td>
                    <td>
                        {{ overall_in_pt.S3|default_if_none:0 }}
                    </td>
                    <td>
                        {{ overall_in_pt.Total|default_if_none:0 }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <br/>
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <h4>Total Security Bugs Opened In Period</h4>
            </div>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        S0
                    </th>
                    <th>
                        S1
                    </th>
                    <th>
                        S2
                    </th>
                    <th>
                        S3
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ opened_in_period.S0|default_if_none:0 }}
                    </td>
                    <td>
                        {{ opened_in_period.S1|default_if_none:0 }}
                    </td>
                    <td>
                        {{ opened_in_period.S2|default_if_none:0 }}
                    </td>
                    <td>
                        {{ opened_in_period.S3|default_if_none:0 }}
                    </td>
                    <td>
                        {{ opened_in_period.Total|default_if_none:0 }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <h4>Total Security Bugs Closed In Period</h4>
            </div>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        S0
                    </th>
                    <th>
                        S1
                    </th>
                    <th>
                        S2
                    </th>
                    <th>
                        S3
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ closed_in_period.S0|default_if_none:0 }}
                    </td>
                    <td>
                        {{ closed_in_period.S1|default_if_none:0 }}
                    </td>
                    <td>
                        {{ closed_in_period.S2|default_if_none:0 }}
                    </td>
                    <td>
                        {{ closed_in_period.S3|default_if_none:0 }}
                    </td>
                    <td>
                        {{ closed_in_period.Total|default_if_none:0 }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <br/>
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <h4>Trending Total Bug Count By Month</h4>
            </div>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        Month
                    </th>
                    <th>
                        S0
                    </th>
                    <th>
                        S1
                    </th>
                    <th>
                        S2
                    </th>
                    <th>
                        S3
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Closed<sup>*</sup>
                    </th>
                </tr>
                </thead>
                <tfoot style="font-size: 12px;" class="text-info">
                <tr>
                    <td colspan="7"><sup>*</sup>Closed findings may have been opened outside of requested period.</td>
                </tr>
                </tfoot>
                <tbody>
                {% for to in trending_opened %}
                    <tr>
                        <td>{{ to.start_date.date|date:"M-Y" }}</td>
                        <td>
                            {{ to.S0|default_if_none:0 }}
                        </td>
                        <td>
                            {{ to.S1|default_if_none:0 }}
                        </td>
                        <td>
                            {{ to.S2|default_if_none:0 }}
                        </td>
                        <td>
                            {{ to.S3|default_if_none:0 }}
                        </td>
                        <td>
                            {{ to.Total|default_if_none:0 }}
                        </td>
                        <td>
                            {{ to.closed|default_if_none:0 }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br/>
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <h4>Top 10 By Bug Severity</h4>
            </div>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        S0
                    </th>
                    <th>
                        S1
                    </th>
                    <th>
                        S2
                    </th>
                    <th>
                        S3
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for p in top_ten %}
                    <tr>
                        <td>
                            {{ p.name }}
                        </td>
                        <td>
                            {{ p.critical|default_if_none:0 }}
                        </td>
                        <td>
                            {{ p.high|default_if_none:0 }}
                        </td>
                        <td>
                            {{ p.medium|default_if_none:0 }}
                        </td>
                        <td>
                            {{ p.low|default_if_none:0 }}
                        </td>
                        <td>
                            {{ p.total|default_if_none:0 }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                <h4>{{ pt }} Open Findings </h4>
            </div>
            <table id="open_findings"
                   class="tablesorter-bootstrap table table-bordered table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th> Date</th>
                    <th>Severity</th>
                    <th>Age</th>
                    <th>Product</th>
                </tr>
                </thead>
                <tbody>
                {% for finding in all_current_in_pt %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a title="{{ finding.title }}"
                               href="{% url 'view_finding' finding.id %}">{{ finding.title }}</a>
                        </td>
                        <td class="nowrap">{{ finding.date }}</td>
                        <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                            <p class="text-danger">
                        {% else %}<p>{% endif %}{{ finding.numerical_severity }}</p></td>
                        <td>{{ finding.age }}</td>
                        <td><a
                                href="{% url 'view_product' finding.test.engagement.product.id %}"
                                title="{{ finding.test.engagement.product }}">{{ finding.test.engagement.product }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}



