{% extends "base.html" %}
{% load display_tags %}
{% load static from staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h4 class="pull-left to_highlight finding-title">
                    {{ finding.title }}
                    <small>Last reviewed on {{ finding.last_reviewed }} by {{ finding.last_reviewed_by }}</small>
                </h4>
                {% if user.is_staff %}
                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-expanded="true">
                            <span class="fa fa-bars"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <a href="{% url 'edit_finding' finding.id %}">
                                    <i class="fa fa-pencil-square-o"></i> Edit Finding
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'touch_finding' finding.id %}">
                                    <i class="fa fa-clock-o"></i> Touch Finding
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="{% url 'mktemplate' finding.id %}">
                                    <i class="fa fa-copy"></i> Make Finding a Template
                                </a>
                            </li>
                            {% if finding.active %}
                                <li role="presentation">
                                    <a href="{% url 'close_finding' finding.id %}">
                                        <i class="fa fa-close"></i> Close Finding
                                    </a>
                                </li>
                            {% endif %}
                            <li role="presentation">
                                <a href="{% url 'action_history' finding|content_type finding.id %}">
                                    <i class="fa fa-history"></i> View History
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            {% block button_extensions %}
                            {% endblock %}
                            <li role="separator" class="divider"></li>
                            <li role="presentation">
                                <a class="text-danger" href="{% url 'delete_finding' finding.id %}"
                                   onclick="return confirm('Are you sure you want to delete this finding?')">
                                    <i class="fa fa-trash"></i> Delete Finding
                                </a>
                            </li>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row to_highlight">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Details</div>
                <ul class="list-group">
                    <li class="list-group-item"><b> Severity: </b>{{ finding.severity }} </li>
                    <li class="list-group-item">
                        <b> Status: </b>
                        {{ finding.status }}
                    </li>
                    {% if finding.risk_acceptance_set.all %}
                        <li class="list-group-item">
                            <b> Acceptance: </b> <a
                                href="{% url 'view_risk' finding.test.engagement.id finding.risk_acceptance_set.all.0.id %}">View
                            Risk Acceptance</a>
                        </li>
                    {% endif %}
                    <li class="list-group-item"><b> Date discovered: </b> {{ finding.date }} </li>
                    <li class="list-group-item"><b> Date Mitigated: </b>{{ finding.mitigated }} </li>
                    {% if finding.mitigated %}
                        <li class="list-group-item"><b> Mitigated By: </b>{{ finding.mitigated_by }} </li>
                    {% endif %}
                    <li class="list-group-item"><b> Reporter: </b>{{ finding.reporter }} </li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default endpoints">
                <div class="panel-heading">Endpoints / Systems</div>
                <div id="vuln_endpoints" class="panel-body endpoint-panel">
                    {% if finding.endpoints.all %}
                        <ul>
                            {% for endpoint in finding.endpoints.all %}
                                <li><a title="View endpoint details"
                                       href="{% url 'view_endpoint' endpoint.id %}">{{ endpoint }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        No endpoints.
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <div class="view-finding to_highlight">
        <div class="panel panel-default">
            <div class="panel-heading">
                Description
            </div>
            <div class="panel-body">
                <pre>{{ finding.description }}</pre>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Mitigation</div>
            <div class="panel-body">
                <pre>{{ finding.mitigation }}</pre>
            </div>
        </div>
        {% if burp_request %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Request
                    <span class="pull-right clickable  panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </div>
                <div class="panel-body" style="display: none">
                    <pre>{{ burp_request }}</pre>
                </div>
            </div>
        {% endif %}
        {% if burp_response %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Response
                    <span class="pull-right clickable  panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                </div>

                <div class="panel-body" style="display: none">
                    <pre>{{ burp_response }}</pre>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">Impact</div>
            <div class="panel-body">
                <pre>{{ finding.impact }}</pre>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">References</div>
            <div class="panel-body">
                <pre>{{ finding.references }}</pre>
            </div>
        </div>
    </div>



    <div class="panel panel-default to_highlight table-responsive">
        <div class="panel-heading">
            <h3>Notes</h3>
        </div>
        {% if notes %}
            <table id="notes" class="tablesorter-bootstrap table table-condensed table-striped">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            {{ note.author.username }}
                        </td>
                        <td>
                            {{ note.date }}
                        </td>
                        <td>
                            {{ note }}
                            {% ifequal user.username note.author.username %}
                                <a href="{% url 'delete_finding_note' finding.id note.id %}"> [X] </a>
                            {% endifequal %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p class="text-center">No notes saved.</p>
        {% endif %}
        <hr/>
        <form class="form-horizontal" action="{% url 'view_finding' finding.id %}" method="post">{% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn" type="submit" value="Add Note"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block extensions %}
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "text-highlighter/build/TextHighlighter.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            if (document.referrer.indexOf('simple_search') > 0) {
                terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    var hltr = new TextHighlighter(document.body);

                    for (var i = 0; i < terms.length; i++) {
                        hltr.find(terms[i], false);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });

        $(document).on('click', '.panel-heading span.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
        })


    </script>
{% endblock %}
