{% extends "base.html" %}
{% load display_tags %}
{% load static from staticfiles %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h3 class="pull-left"> {{ test.test_type }}</h3>

                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-expanded="true">
                        <span class="fa fa-bars"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a href="{% url 'edit_test' test.id %}">
                                <i class="fa fa-pencil-square-o"></i> Edit Test
                            </a>
                        </li>
                        {% if show_re_upload %}
                            <li role="presentation">
                                <a href="{% url 're_import_scan_results' test.id %}">
                                    <i class="fa fa-upload"></i> Re-Upload Scan
                                </a>
                            </li>
                        {% endif %}
                        <li role="presentation">
                            <a href="{% url 'add_findings' test.id %}">
                                <i class="fa fa-bug"></i> Add Findings
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#add_notes">
                                <i class="fa fa-comments"></i> Add Notes
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'test_report' test.id %}">
                                <i class="fa fa-file-text-o"></i> Generate Report
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'test_ics' test.id %}">
                                <i class="fa fa-calendar-plus-o"></i> Add To Calendar
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'action_history' test|content_type test.id %}">
                                <i class="fa fa-history"></i> View History
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation">
                            <a class="text-danger" href="{% url 'delete_test' test.id %}">
                                <i class="fa fa-trash"></i> Delete Test
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Development Environment</dt>
                <dd>
                    {% if test.environment %}
                        {{ test.environment }}
                    {% else %}
                        <b><i>Unknown</i></b>
                    {% endif %}
                </dd>
                <dt>
                    Engagement
                </dt>
                <dd>
                    <a href="{% url 'view_engagement' test.engagement.id %}">{{ test.engagement }}</a>
                </dd>
                <dt>
                    Target Start Date
                </dt>
                <dd>
                    {{ test.target_start.date }}
                </dd>
                <dt>
                    Target End Date
                </dt>
                <dd>
                    {{ test.target_end.date }}
                </dd>
                {% if test.percent_complete > 0 %}
                    <dt>
                        Progress
                    </dt>
                    <dd>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ test.percent_complete }}"
                                 aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ test.percent_complete }}%;">
                                {{ test.percent_complete }}%
                            </div>
                        </div>
                    </dd>
                {% endif %}
            </dl>
        </div>
    </div>
    <div class="panel panel-default to_highlight table-responsive">
        <div class="panel-heading">
            <h4>Findings</h4>
        </div>
        {% if findings %}
            <table id="test_findings" class="table-bordered table table-condensed table-hover">


                <thead>
                <tr>
                    <th>Name</th>
                    <th>Severity</th>
                    <th>Reporter</th>
                    <th>Mitigation Date</th>
                    <th>Verified</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                {% for finding in findings %}
                    <tr class="{% if finding.active %}active_finding{% else %}inactive_finding{% endif %}">
                        <td><a href="{% url 'view_finding' finding.id %}">{{ finding.title }}</a></td>
                        <td>{% if finding.severity == "Critical" or finding.severity == "High" %}
                            <span class="text-error">
                        {% else %}<span>{% endif %}{{ finding.severity }}</span></td>
                        <td>{{ finding.reporter.username }}</td>
                        <td>{{ finding.mitigated }}</td>
                        <td>{{ finding.verified }}</td>
                        <td>{{ finding.active }}</td>
                    </tr>
                {% endfor %}
                </tbody>


            </table>
            <div class="panel-body">
                {% include "dojo/paging_snippet.html" with page=findings %}
            </div>
        {% else %}
            <div class="panel-body">
                <p>No findings found.</p>
            </div>
        {% endif %}
    </div>

    <div class="panel panel-default to_highlight table-responsive">
        <div class="panel-heading">
            <h3>Notes</h3>
        </div>
        {% if notes %}
            <table id="notes" class="table-striped table table-condensed table-hover">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Date</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            {{ note.author.username }}
                        </td>
                        <td>
                            {{ note.date }}
                        </td>
                        <td>
                            {{ note }}
                            {% ifequal person note.author.username %}
                                <a href="{% url 'delete_test_note' test.id note.id %}"> [X] </a>
                            {% endifequal %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}

            <p class="text-center">No notes found.</p>
        {% endif %}
        <hr/>

        <form class="form-horizontal" id="add_notes" action="{% url 'view_test' test.id %}"
              method="post">{% csrf_token %}
            {% include "dojo/form_fields.html" with form=form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-default" type="submit" value="Add Note"/>
                </div>
            </div>
        </form>
        <br/>
        <br/>
    </div>
{% endblock %}
{% block postscript %}
    <script type="text/javascript" src="{% static "jquery-cookie/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "text-highlighter/build/TextHighlighter.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
            if (document.referrer.indexOf('simple_search') > 0) {
                terms = '';
                if ($.cookie('highlight')) {
                    terms = $.cookie('highlight').split(' ');

                    var hltr = new TextHighlighter(document.body);

                    for (var i = 0; i < terms.length; i++) {
                        hltr.find(terms[i], false);
                    }
                }

                $('input#simple_search').val(terms);
            }
        });
    </script>
{% endblock %}